---
const services = [
  {
    name: 'Matrix',
    image: '/assets/0001.webp',
  },
  {
    name: 'Search',
    image: '/assets/0014.jpeg',
    link: 'https://search.lkt.icu',
  },
  {
    name: 'Lib',
    image: '/assets/0004.webp',
    link: 'https://lib.lkt.icu',
  },
  {
    name: 'ID',
    image: '/assets/0003.webp',
    link: 'https://id.lkt.icu',
  },
  {
    name: 'RSS',
    image: '/assets/0005.webp',
    link: 'https://rss.lkt.icu',        
  },
  {
    name: 'Meeting',
    image: '/assets/0006.webp',
    link: 'https://meet.lkt.icu',
  },
  {
    name: 'Task',
    image: '/assets/0011.jpg',
    link: 'https://task.lkt.icu',
  },
  {
    name: 'Alist',
    image: '/assets/0008.webp',
    link: 'https://alist.lkt.icu',
  },
  {
    name: 'Pass',
    image: '/assets/0012.webp',
    link: 'https://pass.lkt.icu',
  },
  {
    name: 'Mail',
    image: '/assets/0007.webp',
    link: 'https://mail.lkt.icu/',
  },
  {
    name: 'Billing',
    image: '/assets/0009.webp',
    link: 'https://bill.lkt.icu',
  },
  {
    name: 'Ryot',
    image: '/assets/0010.webp',
    link: 'https://ryot.lkt.icu',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Services</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service, index) => (
            <div class="flex flex-col gap-12 rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10">
              <div class="flex flex-col gap-4">
                <h3 class="text-center text-2xl font-bold font-medium">{service.name}</h3>
                <img src={service.image} alt={service.name} class="h-80 w-80 object-cover mx-auto" />
                <a href={service.link} class="text-primary-500 hover:underline">
                  <div class="flex justify-center">
                    {index === 0 ? (
                      <div class="flex gap-4">
                        <a href="./matrix-clients" target="_blank">
                          <button class="rounded bg-primary-500 px-4 py-2 font-bold text-white hover:bg-primary-600">
                            Get start with app!
                          </button>
                        </a>
                        <a href="https://web.lkt.icu" target="_blank">
                          <button class="rounded bg-primary-500 px-4 py-2 font-bold text-white hover:bg-primary-600">
                            Get start with web!
                          </button>
                        </a>
                      </div>
                    ) : (
                      <a href={service.link} target="_blank">
                        <button class="rounded bg-primary-500 px-4 py-2 font-bold text-white hover:bg-primary-600">
                          Get start!
                        </button>
                      </a>
                    )}
                  </div>
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
